<h1 class="groupStageHeaderFormat">Add new record</h1>
<mat-card class="!flex !flex-col !gap-2 mt-2">
  
  <!-- Result -->
  <div class="grid grid-cols-3 gap-2">
    <div class="flex justify-center items-center">
      <img src="assets/img/logos/{{match.hometeam}}.jpg" class="h-20">
    </div>
    <div class="flex justify-center items-center"><strong class="result"> {{match.scorehome}} :
        {{match.scoreaway}}</strong></div>
    <div class="flex justify-center items-center">
      <img src="assets/img/logos/{{match.awayteam}}.jpg" alt="" class="h-20">
    </div>
    <div class="flex justify-center items-center"> <strong> {{match.hometeam}}</strong></div>
    <div></div>
    <div class="flex justify-center items-center"><strong> {{match.awayteam}}</strong></div>
  </div>

  <!-- Form group -->
  <form [formGroup]="newRecordForm" class="flex flex-col gap-4">
    <div class="grid grid-cols-3 gap-2">
      <!-- Player name -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Player Name</mat-label>
        <input type="text" matInput formControlName="playerName" [matAutocomplete]="auto" (keyup)="onSearchQueryInput()"
          required>
        <mat-error>Incorrect player</mat-error>
        <mat-autocomplete id="homeTeamAutoComplete" #auto="matAutocomplete">
          <mat-option *ngFor="let player of playerList" [value]="player.playerName">
            {{player.playerName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Team name -->
      <mat-form-field class="ml-2" appearance="fill">
        <mat-label>Team name</mat-label>
        <mat-select formControlName="selectedTeamName" required>
          <mat-option *ngFor="let team of teamNames" [value]="team">
            {{team}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Record type -->
      <mat-form-field class="ml-2" appearance="fill">
        <mat-label>Record type</mat-label>
        <mat-select formControlName="selectedRecordType" required>
          <mat-option *ngFor="let recordType of recordTypes" [value]="recordType">
            {{recordType}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Radio button - Format with minutes vs without minutes -->
    <mat-radio-group class="flex gap-4" formControlName="formatType" aria-label="Select an option">
      <mat-radio-button value="with_minutes">Format with minutes</mat-radio-button>
      <mat-radio-button value="no_minutes">Format without minutes</mat-radio-button>
    </mat-radio-group>

    <!-- Value - only if format with minutes -->
    <mat-form-field *ngIf="newRecordForm.get('formatType').value ==='with_minutes'" class="mt-5" appearance="fill">
      <mat-label>Minute of event</mat-label>
      <input matInput type="number" formControlName="numericDetail" required>
      <mat-error>Required field</mat-error>
    </mat-form-field>

    <button class="mt-5 !ml-auto !h-fit" mat-raised-button color="primary" [disabled]="newRecordForm.invalid"
      (click)="saveRecordV2()">
      Save record
    </button>
  </form>
</mat-card>