ADD Record

<div class="d-flex justify-content-center">
    <div class="col-sm-5 d-flex justify-content-center">
      <img src="assets/img/logos/{{match.hometeam}}.jpg" alt="" class="iconSize">
    </div>
    <div class="col-sm-2 d-flex justify-content-center align-items-center">
      <strong class="result">  {{match.scorehome}} : {{match.scoreaway}}</strong>
    </div>
    <div class="col-sm-5 d-flex justify-content-center">
      <img src="assets/img/logos/{{match.awayteam}}.jpg" alt="" class="iconSize mr-1">

    </div>
  </div>


  <div class="d-flex justify-content-center mt-3 mb-5">
    <div class="col-sm-5 d-flex justify-content-center">
    <strong> {{match.hometeam}}</strong>
    </div>
    <div class="col-sm-2 d-flex justify-content-center"></div>

    <div class="col-sm-5 d-flex justify-content-center">
      <strong> {{match.awayteam}}</strong>
    </div>

  </div>

  <div class="row">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Player Name</mat-label>
      <input type="text" required matInput
        [formControl]="homeTeamControl" [matAutocomplete]="auto">
      <mat-error>Home team is required.</mat-error>
      <mat-autocomplete id="homeTeamAutoComplete" #auto="matAutocomplete">
        <mat-option *ngFor="let homeTeam of filteredOptionsHomeTeam | async" [value]="homeTeam">
          {{homeTeam}}
        </mat-option>
      </mat-autocomplete>
      <button *ngIf="homeTeamControl.value" matSuffix mat-icon-button aria-label="Clear"
        (click)="homeTeamControl.setValue('')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="ml-2" appearance="fill">
      <mat-label>Team name</mat-label>
      <mat-select [(ngModel)]="teamName">
        <mat-option *ngFor="let team of teamNames" [value]="team">
          {{team}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    
    <mat-form-field class="ml-2" appearance="fill">
      <mat-label>Record type</mat-label>
      <mat-select [(ngModel)]="selectedRecordType">
        <mat-option *ngFor="let recordType of recordTypes" [value]="recordType">
          {{recordType}}
        </mat-option>
      </mat-select>
    </mat-form-field>

 
  </div>

  <div class="row">
    <mat-radio-group   [(ngModel)]="signatureType" class="mt-1 ml-2" aria-label="Select an option">
      <mat-radio-button value="minutes">Minutes separated with ','</mat-radio-button>
      <mat-radio-button class="ml-2 " value="numberOfGoals">Number of goals</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- todo add handling accordingly to singature type -->
  <div class="row mt-1">
    <mat-form-field appearance="fill">
      <mat-label>Details</mat-label>
      <input matInput [(ngModel)]="details">
    </mat-form-field>
  </div>


  <button class="mt-5" mat-raised-button color="primary" (click)="saveRecord()"
  aria-label="Show an example snack-bar">
  Save match
</button>

