<div class="flex items-center justify-start space-x-1 pl-2">
    <ng-container *ngIf="typeOfFormat === newFormat">
        <span>{{event.minuteLabel}}</span>
        <span *ngIf="event.recordType==='G'" class="material-icons">sports_soccer</span>
    </ng-container>
    <ng-container *ngIf="typeOfFormat === oldFormat && event.recordType==='G'">
        <span *ngFor="let n of numSequence(event.recordCount)" class="material-icons">sports_soccer</span>
    </ng-container>
    <span *ngIf="event.recordType.includes('OG')" class="material-icons" style="color: red;">sports_soccer</span>
    <span *ngIf="event.recordType==='YC'" class="badge-warning" matTooltip="Yellow cards">Y</span>
    <span *ngIf="event.recordType==='RC'" class="badge-danger" matTooltip="Red cards">R </span>
    <span>{{event.playerName}}</span>
</div>
