<mat-tab-group (selectedTabChange)="tabChanged($event)">
   
    <mat-tab label="CL">
        <app-goalscorers-the-newest-one [pageSize]="pageSize" [displayNumberOfTeamsPlayerScored]="displayNumberOfTeamsPlayerScored" [data]="currentlyDisplayed" *ngIf="showView.get('CL')"></app-goalscorers-the-newest-one>
    </mat-tab>
    <mat-tab class="test" label="EL">
        <app-goalscorers-the-newest-one [pageSize]="pageSize" [displayNumberOfTeamsPlayerScored]="displayNumberOfTeamsPlayerScored" [data]="currentlyDisplayed" *ngIf="showView.get('EL')"></app-goalscorers-the-newest-one>

    </mat-tab>
    <mat-tab label="Total">
        <app-goalscorers-the-newest-one [pageSize]="pageSize" [displayNumberOfTeamsPlayerScored]="displayNumberOfTeamsPlayerScored" [data]="currentlyDisplayed" *ngIf="showView.get('Total')"></app-goalscorers-the-newest-one>
    </mat-tab>
</mat-tab-group>

