<div class="space-y-4">

  <h1 class="pageTitleFormat">Players stats</h1>

  <div>
    <h1 class="groupStageHeaderFormat">Overall stats</h1>
    <table class="bg-white">
      <tbody>
        <tr>
          <th>Matches played</th>
          <td>
            {{numberOfMatches}}
          </td>
        </tr>
        <tr>
          <th>Number of goals</th>
          <td>
            {{goalsTotal}}
          </td>
        </tr>
        <tr>
          <th>Avg goals per match</th>
          <td>
            {{goalsTotal/numberOfMatches || 0 | number:'1.1-2'}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="grid grid-cols-1 xl:grid-cols-2 gap-4">
    <!-- Players -->
    <div *ngFor="let player of playersStats | keyvalue">
      <h1 class="groupStageHeaderFormat">{{player.key}} stats</h1>
      <mat-card>
        <mat-card-header>
          <img src='assets/img/{{player.key}}.jpg' alt="" class="w-16 h-16 rounded-full ml-auto">
          <mat-card-title>{{player.key}}</mat-card-title>
          <mat-card-subtitle>Champions league</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content class="mt-8">
          <div class="grid grid-cols-2">
           
              <table>
                <tbody>
                  <tr>
                    <th class="text-start">Wins</th>
                    <td>
                      <span class="badge-success">
                        {{player.value['wins']}} ({{(player.value['wins'] /numberOfMatches * 100 ) || 0 |
                        number:'1.1-1'}}%)
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th>Draws</th>
                    <td>
                      <span class="badge-warning">
                        {{player.value['draws']}} ({{(player.value['draws'] /numberOfMatches * 100 ) || 0 |
                        number:'1.1-1'}}%)
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th>Losses</th>
                    <td>
                      <span class="badge-danger">
                        {{player.value['losses']}} ({{(player.value['losses'] /numberOfMatches * 100 ) || 0 |
                        number:'1.1-1'}}%)
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th>Goals scored</th>
                    <td>{{player.value['goalsScored']}} ({{player.value['goalsScored'] /numberOfMatches || 0 |
                      number:'1.1-1'}})</td>
                  </tr>
                  <tr>
                    <th>Goals Conceded</th>
                    <td>{{player.value['goalsConceded']}} ({{player.value['goalsConceded'] /numberOfMatches || 0 |
                      number:'1.1-1'}})</td>
                  </tr>
                  <tr>
                    <th>Goals Diff</th>
                    <td>
                      <span [ngClass]="{'badge-success': player.value['goalsScored'] > player.value['goalsConceded'],
                                              'badge-warning': player.value['goalsScored'] == player.value['goalsConceded'],
                                              'badge-danger': player.value['goalsScored'] < player.value['goalsConceded']
                                            }">
                        {{player.value['goalsScored'] - player.value['goalsConceded']}}
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <th>Total cards</th>
                    <td>
                      {{player.value['numberOfYellowCards'] + player.value['numberOfRedCards']}}
                    </td>
                  </tr>
                  <tr>
                    <th>Yellow cards</th>
                    <td>
                      {{player.value['numberOfYellowCards']}}
                    </td>
                  </tr>
                  <tr>
                    <th>Red cards</th>
                    <td>
                      {{player.value['numberOfRedCards']}}
                    </td>
                  </tr>
                </tbody>
              </table>
            <div>
              <app-pie-chart-stats *ngIf="player.value['totalBilance']?.length>0" [series]="player.value['totalBilance']">
              </app-pie-chart-stats>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>

