<ng-container *ngIf="!!playOff">
  <!-- todo toto mozno prechadzat cez custom array klucov (roundof32, roundof16...) -->
  <ng-container *ngFor="let round of playOff.playOffRounds">
    <mat-card class="col-sm-11 mt-3">
      <mat-card-header>
        <mat-card-title>
          {{round.roundName}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let doubleMatch of round.duels">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="flex items-center space-x-1">
                  <img class="max-h-[25px] cursor-pointer" src="assets/img/logos/{{doubleMatch.qualifiedTeam}}.jpg"
                    matTooltip="{{doubleMatch.qualifiedTeam}}" alt="">
                  <span class="font-bold">{{doubleMatch.qualifiedTeam}}</span>
                  <span class="w-20 flex justify-center" [ngClass]="{
                        'badge-pavol-jay': doubleMatch.qualifiedPlayer === 'Pavol Jay', 
                        'badge-kotlik': doubleMatch.qualifiedPlayer === 'Kotlik'}">
                    {{doubleMatch.qualifiedPlayer}}
                  </span>
                </div>
              </mat-panel-title>
              <mat-panel-description>
                {{doubleMatch.qualifiedTeam}} {{doubleMatch.qualifiedTeamGoals}} : {{doubleMatch.nonQualifiedTeamGoals}}
                {{doubleMatch.nonQualifiedTeam}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-matches-table [data]="doubleMatch.homeAwayMatch" [currentTeam]="doubleMatch.qualifiedTeam"
              [displayBadge]="false"></app-matches-table>

          </mat-expansion-panel>
        </mat-accordion>

      </mat-card-content>

    </mat-card>
  </ng-container>
</ng-container>