<mat-card>
    <mat-card-content>
        <table *ngIf="!!teamStats" class="table table-sm mt-3 table-hover">
            <tbody>
                <tr>
                    <th> </th>
                    <th class="text-right">Total</th>
                    <th class="text-right">Champions League</th>
                    <th class="text-right">European league</th>
                </tr>
                <tr class="table-row hover:bg-slate-200 text-right">
                    <th>Seasons</th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.seasonsList.length}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.seasonsList.length}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.seasonsList.length}}</span>
                    </td>
                </tr>
                <tr class="table-row hover:bg-slate-200 text-right">
                    <th>Matches</th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.matchesCount}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.matchesCount}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.matchesCount}}</span>
                    </td>
                </tr>
                <tr class="table-row hover:bg-slate-200 text-right">
                    <th>Wins</th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.wins}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.wins}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.wins}}</span>
                    </td>
                </tr>

                <tr class="table-row hover:bg-slate-200 text-right">
                    <th>Draws</th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.draws}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.draws}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.draws}}</span>
                    </td>
                </tr>

                <tr class="table-row hover:bg-slate-200 text-right">
                    <th>Losses</th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.losses}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.losses}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.losses}}</span>
                    </td>
                </tr>

                <tr class="table-row hover:bg-slate-200 text-right">
                    <th>Goals scored</th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.goalsScored}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.goalsScored}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.goalsScored}}</span>
                    </td>
                </tr>

                <tr class="table-row hover:bg-slate-200 text-right">
                    <th>Goals conceded</th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.goalsConceded}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.goalsConceded}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.goalsConceded}}</span>
                    </td>
                </tr>

                <tr class="table-row hover:bg-slate-200 text-right">
                    <th>Goal difference </th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.goalDiff}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.goalDiff}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.goalDiff}}</span>
                    </td>
                </tr>

                <tr class="table-row hover:bg-slate-200 text-right">
                    <th>Titles won</th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.titlesCount}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.titlesCount}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.titlesCount}}</span>
                    </td>
                </tr>
                <tr class="table-row hover:bg-slate-200 text-right"> 
                    <th>Runners-up</th>
                    <td>
                        <span>{{teamStats.teamStatsTotal.runnersUpCount}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsCL.runnersUpCount}}</span>
                    </td>
                    <td>
                        <span>{{teamStats.teamStatsEL.runnersUpCount}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>