<div class="row">
  <h1 class="pageTitleFormat">{{competitionName}} - {{seasonName}}</h1>
</div>

<app-season-stats
  [pavolJayWins]="pavolJayWinCount"
  [kotlikWins]="kotlikWinCount"
  [draws]="drawsCount"
  [goals]="goalsCount"
  [matches]="matchesCount"
  [competition]="competition"
  [winnerTeam]="winnerTeam"
  [winnerPlayer]="winnerPlayer"
  >
</app-season-stats>

<div class="row">
  
  <div class="col-sm-4">
    <h1 class="groupStageHeaderFormat pl-15">Top scorers - Group stage</h1>
    <mat-card>
      <app-goalscorers-the-newest-one *ngIf="topGoalscorersGroupStage" [data]="topGoalscorersGroupStage" [pageSize]="5"></app-goalscorers-the-newest-one>
    </mat-card>
  </div>

  <div class="col-sm-4">
    <h1 class="groupStageHeaderFormat pl-15">Top scorers - Play/off</h1>
    <mat-card>
      <app-goalscorers-the-newest-one *ngIf="topGoalscorersPlayOffs" [data]="topGoalscorersPlayOffs" [pageSize]="5"></app-goalscorers-the-newest-one>
    </mat-card>
  </div>

  <div class="col-sm-4">
    <h1 class="groupStageHeaderFormat pl-15">Top scorers - Total</h1>
    <mat-card>
      <app-goalscorers-the-newest-one *ngIf="topGoalscorersTotal" [data]="topGoalscorersTotal" [pageSize]="5"></app-goalscorers-the-newest-one>
    </mat-card>
  </div>

</div>



<div class="row" >
  <div class="col-sm-6" *ngFor="let group of allGroups | keyvalue">
  <h1 class="groupStageHeaderFormat pl-15">{{group.key}}</h1>
  <mat-card>
    
    <mat-card-content>
      
      <!-- TODO add this to separate component -->
      <div class="col-sm-7">
        <table  class="table table-sm margin-top-5rem table-hover">
          <tbody>
            <tr>
              <th>#</th>
              <th>Team</th>
              <th></th>
              <th>M</th>
              <th>W</th>
              <th>D</th>
              <th>L</th>
              <th class="text-center">S</th>
              <th class="text-center">GD</th>
              <th class="text-center">P</th>
            </tr>
            <tr  *ngFor="let team of allGroups[group.key]; let i=index;"
              [ngClass]="{'qualifiedCL': (i==0 || i==1), 'qualifiedEL': (i==2 && competition==='CL'), 'outOfCompetition': i==3 || (i==2 && competition==='EL')}"
            >
              <td>{{i+1}}.</td>
              <td> 
                <img src="assets/img/logos/{{team.teamname}}.jpg" alt="" class="iconSize mr-1 cursor-pointer" (click)="goToTeamView(team.teamname)"> 
                <span class="cursor-pointer" (click)="goToTeamView(team.teamname)">{{team.teamname}}</span>
                <small> {{team.ownedByPlayer}}</small>
              </td>
              <td>
                <span class="badge badge-success" *ngIf="i == 0 || i ==1">Q</span>
                <span class="badge badge-warning" *ngIf="i==2 && competition==='CL'">EL</span>
                <span class="badge badge-danger" *ngIf="i==3 || (i==2 && competition==='EL')">NQ</span>
              </td>
              <td>{{team.matches}}</td>
              <td>{{team.wins}}</td>
              <td>{{team.draws}}</td>
              <td>{{team.losses}}</td>
              <td class="text-center">{{team.goalsScored}} : {{team.goalsConceded}}</td>
              <td class="text-center">{{team.goalsScored - team.goalsConceded}}</td>
              <td class="text-center">{{team.points}}</td>
              </tr>
          </tbody>
        </table>
        <span class="badge badge-success"> {{playersStats[group.key]["Pavol Jay"] }}</span>
        -
        <span class="badge badge-warning"> {{playersStats[group.key]["Draws"] }}</span>
        -
        <span class="badge badge-danger"> {{playersStats[group.key]["Kotlik"] }}</span>
    </div>

    <div class="col-sm-5">
      <mat-card>
        <app-goalscorers-the-newest-one [data]="goalscorers[group.key]" [singleGroupStageLogos]="true" [pageSize]="5"></app-goalscorers-the-newest-one>
      </mat-card>
    </div>

    </mat-card-content>


    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="displayCurrentGroupMatches(group.key)">Display matches</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>

<app-play-off
  [season] = "seasonName"
  [competition]="competition"
  [playOff]="playOffs"
></app-play-off>
