<div class="row">
  <h1 class="pageTitleFormat">{{competitionName}} - {{seasonName}}</h1>
</div>

<app-season-stats
  [pavolJayWins]="pavolJayWinCount"
  [kotlikWins]="kotlikWinCount"
  [draws]="drawsCount"
  [goals]="goalsCount"
  [matches]="matchesCount"
  [competition]="competition"
  [winnerTeam]="winnerTeam"
  [winnerPlayer]="winnerPlayer"
  [winnerLogo] = "winnerLogo">
</app-season-stats>

<div class="row">
  
  <div class="col-sm-4">
    <h1 class="groupStageHeaderFormat pl-15">Top scorers - Group stage</h1>
    <mat-card>
      <app-team-top-goalscorers *ngIf="topGoalscorersGroupStage" 
        [data]="topGoalscorersGroupStage" 
        [goalscorersContainLogosItself]="true"
        [onlyOnePossibleTeamLogo]="true" 
        [defaultPageSize]="5">
      </app-team-top-goalscorers>
    </mat-card>
  </div>

  <div class="col-sm-4">
    <h1 class="groupStageHeaderFormat pl-15">Top scorers - Play/off</h1>
    <mat-card>
      <app-team-top-goalscorers *ngIf="topGoalscorersPlayOffs" 
        [data]="topGoalscorersPlayOffs" 
        [goalscorersContainLogosItself]="true"
        [onlyOnePossibleTeamLogo]="true" 
        [defaultPageSize]="5">
      </app-team-top-goalscorers>
    </mat-card>
  </div>

  <div class="col-sm-4">
    <h1 class="groupStageHeaderFormat pl-15">Top scorers - Total</h1>
    <mat-card>
      <app-team-top-goalscorers *ngIf="topGoalscorersTotal" 
        [data]="topGoalscorersTotal" 
        [goalscorersContainLogosItself]="true"
        [onlyOnePossibleTeamLogo]="true" 
        [defaultPageSize]="5">
      </app-team-top-goalscorers>
    </mat-card>
  </div>

</div>



<div class="row" *ngFor="let group of allGroups | keyvalue">
  <h1 class="groupStageHeaderFormat pl-15">{{group.key}}</h1>
  <mat-card>
    
    <mat-card-content>
      
      <!-- TODO add this to separate component -->
      <div class="col-sm-7">
        <table  class="table table-sm margin-top-5rem table-hover">
          <tbody>
            <tr>
              <th>#</th>
              <th>Team</th>
              <th></th>
              <th>M</th>
              <th>W</th>
              <th>D</th>
              <th>L</th>
              <th class="text-center">S</th>
              <th class="text-center">GD</th>
              <th class="text-center">P</th>
            </tr>
            <tr  (click)="goToTeamView(team.teamname)" *ngFor="let team of allGroups[group.key]; let i=index;"
              [ngClass]="{'qualifiedCL': (i==0 || i==1), 'qualifiedEL': i==2, 'outOfCompetition': i==3}"
            >
              <td>{{i+1}}.</td>
              <td matTooltip="Managed by" matTooltipPosition="before"> <img *ngIf="team['logo']" [src]="'data:image/gif;base64,'+team['logo']['pic']" alt="" class="iconSize mr-1"> {{team.teamname}}</td>
              <td>
                <span class="badge badge-success" *ngIf="i == 0 || i ==1">Q</span>
                <span class="badge badge-warning" *ngIf="i==2">EL</span>
                <span class="badge badge-danger" *ngIf="i==3">NQ</span>
              </td>
              <td>{{team.matches}}</td>
              <td>{{team.wins}}</td>
              <td>{{team.draws}}</td>
              <td>{{team.losses}}</td>
              <td class="text-center">{{team.goalsScored}} : {{team.goalsConceded}}</td>
              <td class="text-center">{{team.goalsScored - team.goalsConceded}}</td>
              <td class="text-center">{{team.points}}</td>
              </tr>
          </tbody>
        </table>
        <span class="badge badge-success"> {{playersStats[group.key]["Pavol Jay"] }}</span>
        -
        <span class="badge badge-warning"> {{playersStats[group.key]["Draws"] }}</span>
        -
        <span class="badge badge-danger"> {{playersStats[group.key]["Kotlik"] }}</span>
    </div>

    <div class="col-sm-5">
      <mat-card>
        <app-team-top-goalscorers [data]="goalscorers[group.key]" [allLogos]="group.value" [onlyOnePossibleTeamLogo]="true" [defaultPageSize]="5"></app-team-top-goalscorers>
      </mat-card>
    </div>

    </mat-card-content>


    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="displayCurrentGroupMatches(group.key)">Display all</button>
    </mat-card-actions>
  </mat-card>

</div>

<app-play-off
  [season] = "seasonName"
  [competition]="competition"
  [playOff]="playOffs"
></app-play-off>
