<div class="space-y-8">

  <h1 class="pageTitleFormat flex">
    <!-- season next, prev TODO -->
    <button mat-button [disabled]="previousSeason === null" class="mr-auto" (click)="generalRouterService.goToSeasonView(previousSeason, competition)">
      <mat-icon>keyboard_arrow_left</mat-icon>
      {{previousSeason !== null ? previousSeason : 'No previous season' }}
    </button>

    <span class="mx-auto">{{competitionName}} - {{seasonName}}</span>

    <button mat-button [disabled]="nextSeason === null" class="ml-auto" (click)="generalRouterService.goToSeasonView(nextSeason, competition)">
     
      {{nextSeason !== null ? nextSeason : 'No next season' }}
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </h1>


  <!-- Overall stats -->
  <div>
    <app-overall-season-stats *ngIf="!!seasonModel" [competition]="competition" [stats]="seasonModel.overallStats">
    </app-overall-season-stats>
  </div>

  <!-- Goalscorers -->
  <h1 class="subtitle-format">Goalscorers</h1>
  <div class="grid xl:grid-cols-3 gap-4 grid-cols-1">

    <div>
      <h1 class="groupStageHeaderFormat pl-15">Top scorers - Group stage</h1>
      <mat-card>
        <app-goalscorers-the-newest-one *ngIf="!!seasonModel" [data]="seasonModel.totalGoalscorersGroupStage"
          [pageSize]="5"></app-goalscorers-the-newest-one>
      </mat-card>
    </div>
    <div>
      <h1 class="groupStageHeaderFormat pl-15">Top scorers - Play/off</h1>
      <mat-card>
        <app-goalscorers-the-newest-one *ngIf="!!seasonModel" [data]="seasonModel.totalGoalscorersPlayOffs"
          [pageSize]="5">
        </app-goalscorers-the-newest-one>
      </mat-card>
    </div>
    <div>
      <h1 class="groupStageHeaderFormat pl-15">Top scorers - Total</h1>
      <mat-card>
        <app-goalscorers-the-newest-one *ngIf="!!seasonModel" [data]="seasonModel.totalGoalscorersAllPhases"
          [pageSize]="5">
        </app-goalscorers-the-newest-one>
      </mat-card>
    </div>
  </div>

  <!-- Group stage -->
  <app-group-stage *ngIf="!!seasonModel" [allGroups]="seasonModel.groupStageTables"
    [playersStats]="seasonModel.statsByGroups" [competition]="competition" [seasonName]="seasonName"
    [goalscorersPerGroup]="seasonModel.goalscorersPerGroup">
  </app-group-stage>

  <!-- Play offs -->
  <app-play-off *ngIf="!!seasonModel" [season]="seasonName" [competition]="competition"
    [playOff]="seasonModel.playOffs"></app-play-off>
</div>