<mat-card-content>
    <img *ngIf="data?.playerName" src='assets/img/{{data.playerName}}.jpg' alt="" class="trophyRoomPhoto">
    <span *ngIf="!data?.hasAnyTrophy && !data.playerName">This poor little team has never won anything.</span>
    <table *ngIf="data?.hasAnyTrophy || data.playerName" class="customTable table table-sm mt-3 table-hover">
        <tbody>
            <tr>
                <th> Champions league ({{data.titlesCountCL}}x) </th>
                <td class="flex justify-center items-end">
                    <img *ngFor="let n of numSequence(data.titlesCountCL);let i = index;" src='assets/img/CLTrophy.png'class="trophySize"/>
                </td>
            </tr>
            <tr>
                <th> European league ({{data.titlesCountEL}}x)</th>
                <td class="flex justify-center items-end">
                    <img *ngFor="let n of numSequence(data.titlesCountEL);let i = index;" src='assets/img/ELTrophy.png' class="trophySize" />
                </td>
            </tr>
        </tbody>
    </table>
</mat-card-content>