<div class="px-24 pt-8">

  <mat-toolbar class="mb-5">
    <button mat-button routerLink="teams">Teams</button>

    <button mat-button [matMenuTriggerFor]="matches">Matches</button>
    <mat-menu #matches="matMenu">
      <button mat-menu-item routerLink="generateGroupStage">Generate group stage</button>
      <button mat-menu-item routerLink="createMatch">Create match</button>
      <button mat-menu-item routerLink="h2h">H2H</button>
      <button mat-menu-item routerLink="matches">All matches</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="seasons">Seasons</button>
    <mat-menu #seasons="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="CL">Champions league</button>
      <button mat-menu-item [matMenuTriggerFor]="EL">European league</button>
    </mat-menu>
    <mat-menu #CL="matMenu">
      <button mat-menu-item *ngFor="let seasonname of seasonsList"
        [routerLink]="'season/'+seasonname +'/CL'">{{seasonname}}</button>
    </mat-menu>
    <mat-menu #EL="matMenu">
      <button mat-menu-item *ngFor="let seasonname of seasonsList"
        [routerLink]="'season/'+seasonname +'/EL'">{{seasonname}}</button>
    </mat-menu>

    <button mat-button routerLink="players">Players</button>
    <button mat-button [matMenuTriggerFor]="globalStats">Global stats</button>
    <mat-menu #globalStats="matMenu">
      <button mat-menu-item routerLink="topMatches">Top matches</button>
      <button mat-menu-item routerLink="winners">Winners</button>
      <button mat-menu-item routerLink="allTimeStats">All time stats</button>
      <button mat-menu-item routerLink="seasonBySeason">Season by season</button>
    </mat-menu>

  </mat-toolbar>

  <router-outlet></router-outlet>

</div>