table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}


.championsLeagueWinner{
  background-color: rgb(255,204,0);
}

.iconSize{
  margin-top: 3px;
  max-height: 25px;
}


.resultContainer {
  display: flex;
}

.wrapper {
  display: flex;
  align-self: center;
}

.bookImage,
.bookTitle {
  margin-left: 20px;
}