<!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Home team</mat-label>
    <input type="text" required placeholder="Home team" aria-label="Home team" matInput
      [formControl]="homeTeamControl" [matAutocomplete]="auto">
    <mat-error>Home team is required.</mat-error>
    <mat-autocomplete id="homeTeamAutoComplete" #auto="matAutocomplete">
      <mat-option *ngFor="let homeTeam of filteredOptionsHomeTeam | async" [value]="homeTeam">
        {{homeTeam}}
      </mat-option>
    </mat-autocomplete>
    <button *ngIf="homeTeamControl.value" matSuffix mat-icon-button aria-label="Clear"
      (click)="homeTeamControl.setValue('')">
      <mat-icon>close</mat-icon>
    </button>
</mat-form-field> -->