<div class="space-y-8" *ngIf="!!teamStats" >
  <div class="grid grid-cols-1">
    <div class="p-5 text-center text-6xl  bg-gray-400 rounded">
      <img src="assets/img/logos/{{teamStats.teamName}}.jpg" class="trophy">
      <h1>{{teamStats.teamName}}</h1>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4 xl:grid-cols-2">
    <div>
      <h1 class="groupStageHeaderFormat">Overall stats</h1>
      <app-overall-stats-single-team *ngIf="teamStats" [teamStats]="teamStats"></app-overall-stats-single-team>
    </div>

    <div>
      <h1 class="groupStageHeaderFormat">Trophy room
      </h1>
      <mat-card class="text-center">
        <app-trophy-room *ngIf="trophyRoomData" [data]="trophyRoomData"></app-trophy-room>
      </mat-card>
    </div>

    <div>
      <h1 class="groupStageHeaderFormat">Win rate</h1>
      <mat-card>
        <mat-card-content>
          <app-pie-chart-stats [series]="teamStats.bilance">
          </app-pie-chart-stats>
        </mat-card-content>
      </mat-card>
    </div>
    
    <div>
      <h1 class="groupStageHeaderFormat">Goalscoring time distribution</h1>
      <mat-card>
        <app-goal-distributon [teamId]="teamStats.teamId"></app-goal-distributon>
      </mat-card>
    </div>

    <div>
      <h1 class="groupStageHeaderFormat">Goalscorers</h1>
      <mat-card>
        <app-goalscorers-wrapper [teamId]="teamStats.teamId" [pageSize]="5"></app-goalscorers-wrapper>
      </mat-card>
    </div>

    <div>
      <h1 class="groupStageHeaderFormat">Cards</h1>
      <mat-card>
        <app-players-cards-wrapper [teamId]="teamStats.teamId"></app-players-cards-wrapper>
      </mat-card>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-4">
    <div>
      <h1 class="groupStageHeaderFormat">Latest form</h1>
      <mat-card>
        <app-matches-table [data]="teamStats.matches" [currentTeam]="teamStats.teamName" [currentTeamId]="teamStats.teamId">
        </app-matches-table>
      </mat-card>
    </div>
    <div>
      <h1 class="groupStageHeaderFormat"> Best matches</h1>
      <app-top-matches [specificTeam]="teamStats.teamName"></app-top-matches>
    </div>
  </div>

</div>