.score{
    max-width: 60px;
    width: auto;
}

.matchStats{
    width: 60%;
}

.fullWidth{
    width: 100%;
}

.slideSize{
    width: 10%;
}

.logoPlaceholder {
    width: 100px;
    height: 100px;
}
