<div class="row">
  <h1 class="pageTitleFormat">All time stats</h1>
</div>


<div class="row">

  <div class="col-sm-4">
    <h1 class="groupStageHeaderFormat">Goalscorers NEW</h1>
    <mat-card>
      <app-new-goalscorers></app-new-goalscorers>
    </mat-card>
  </div>

  <div class="col-sm-4">
    <h1 class="groupStageHeaderFormat">Winners list</h1>
    <app-winners-list></app-winners-list>
  </div>

  <div class="col-sm-4">
    <h1 class="groupStageHeaderFormat">Trophy room</h1>

    <mat-card *ngIf="!!trophyRoom"> 
    <mat-tab-group animationDuration="0ms">
      <mat-tab label="{{trophyRoom[0].playerName}}">
        <app-trophy-room [data]="trophyRoom[0]"></app-trophy-room>
      </mat-tab>
      <mat-tab label="{{trophyRoom[1].playerName}}">
        <app-trophy-room [data]="trophyRoom[1]"></app-trophy-room>
      </mat-tab>
    </mat-tab-group>
    </mat-card>
  </div>

</div>


<div class="row mt-3">
  <div class="col-sm-6">
    <h1 class="groupStageHeaderFormat">Cards</h1>
    <mat-card>
      <app-players-cards-wrapper *ngIf="playersCardsStatisticsPerCompetition" [completePlayerStats]="playersCardsStatisticsPerCompetition"></app-players-cards-wrapper>
    </mat-card>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-12">
    <h1 class="groupStageHeaderFormat">Team stats</h1>

    <app-all-time-team-stats></app-all-time-team-stats>
  </div>
</div>
