

  
  <div class="row">

    <div class="col-sm-6">
      <table  class="customTable table table-sm mt-3 table-hover">
        <h2 class="pl-15">Overall stats</h2>
        <tbody *ngIf="matches && goals">
          <tr>
          <th> </th>
          <th> Total</th>
          <th> Group stage</th>
          <th> Play/offs</th>
        </tr>
        <tr>
          <th> Matches</th>
          <td>{{matches[0] + matches[1]}}</td>
          <td>{{matches[0]}} </td>
          <td>{{matches[1]}}</td>
        </tr>
        <tr>
          <th> Goals</th>
          <td> {{goals[0]+goals[1]}} ({{(((goals[0]+goals[1])/(matches[0]+matches[1]))) || 0 | number:'1.1-1' }})</td>
          <td> {{goals[0]}} ({{((goals[0]/matches[0])) || 0 | number:'1.1-1' }})</td>
          <td> {{goals[1]}} ({{((goals[1]/matches[1])) || 0 | number:'1.1-1' }})</td>
        </tr>
        <tr>
          <th> Yellow cards</th>
          <td> x</td>
          <td> y </td>
          <td> z</td>
        </tr>
        <tr>
          <th> Red cards</th>
          <td> x</td>
          <td> y </td>
          <td> z</td>
        </tr>
        <tr>
          <th> Pavol Jay</th>
          <td> x</td>
          <td>
            <span class="badge badge-success mr-1"> {{pavolJayWins}} </span>-
            <span class="badge badge-warning mr-1">{{draws}} </span>-
            <span class="badge badge-danger mr-1"> {{kotlikWins}} </span>
          <td> z</td>
        </tr>
        <tr>
          <th> Kotlik</th>
          <td> x</td>
          <td> y </td>
          <td> {{pavolJayWins}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-6">


      
              
      <img src='assets/img/{{competition}}Trophy.png' class="trophy"/>



        <!-- <img [src]="'data:image/gif;base64,'+winnerLogo" alt="" class="iconSize mr-1"> -->
        <!-- <div class="center"> </div> -->

        <p *ngIf="!winnerUnknown" class="center" style = 'line-height: 20px'>
          <img [src]="'data:image/gif;base64,'+winnerLogo" class="winningTeam"/>
          Winner is <b>{{winnerTeam}}</b> managed by <b>{{winnerPlayer}}</b>
          <img src='assets/img/{{winnerPlayer}}.jpg' alt=""  class="winnerPlayer">
        </p>

        <p *ngIf="winnerUnknown" class="center" style = 'line-height: 20px'>
          Winner unknown. Final match has not been played yet.
        </p>


    </div>


  </div>
 




