<div class="grid grid-cols-1 gap-4">
    <h1 class="pageTitleFormat">Matches records</h1>

    <mat-card class="mt-5">
        <mat-card-content>
            <mat-form-field class="ml-3">
                <mat-label>Record type</mat-label>
                <mat-select [(ngModel)]="selectedRecordType" (selectionChange)="updateMatches()">
                    <mat-option *ngFor="let recordType of recordList" [value]="recordType">{{recordType}}</mat-option>
                </mat-select>
            </mat-form-field>

            <app-matches-table *ngIf="!!matches" [data]="matches" [pageSize]="10"></app-matches-table>
        </mat-card-content>
    </mat-card>
</div>