/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



html { 
  height:100%;
}
body { 
  min-height:100%;
}



// .pavolJayTeam{
//   color:rgb(10,151,176);
// }



// .kotlikTeam{
//     color: rgb(140,186,81);
// }






//icon up and down animation
.iconAnimation{
  cursor: pointer;
}

.iconAnimation:hover {
animation: MoveUpDown 0.2s linear !important;
animation-iteration-count: 1 !important;
position: relative !important;
cursor: pointer;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 4px;
  }
}

// todo rename this
.groupStageHeaderFormat{
  text-align: center;
  background-color: #D8BFD8	;
  padding: .5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.trophySize{
  max-height: 75px;
}


@layer components {
  .badge-danger {
    @apply bg-red-100 text-red-800 text-sm font-medium px-2 py-0.5 rounded dark:bg-red-200 dark:text-red-900;
  }

  .badge-success {
    @apply bg-green-100 text-green-800 text-sm font-medium px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900;
  }

  .badge-warning {
    @apply bg-yellow-100 text-yellow-800 text-sm font-medium px-2 py-0.5 rounded dark:bg-yellow-200 dark:text-yellow-900;
  }
  
  .badge-runner-up {
    @apply bg-gray-600 text-white text-sm font-bold px-2.5 py-0.5 rounded;
  }

  .badge-default {
    @apply bg-gray-300 text-sm font-bold px-2.5 py-0.5 rounded;
  }

  .badge-winner {
    @apply bg-yellow-400 text-sm font-bold px-2.5 py-0.5 rounded;
  }
  
  .badge-pavol-jay {
    @apply bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800;
  }

  .badge-kotlik {
    @apply bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900;
  }

  .badge-draw {
    @apply bg-yellow-400 text-xs font-semibold px-2.5 py-0.5 rounded;
  }

  .pageTitleFormat {
    @apply p-5 text-center text-6xl bg-gray-400 rounded;
  }

  .subtitle-format {
    @apply p-3 text-center text-2xl bg-gray-300 rounded;
  }
}

th:first-child, td:first-child {
  padding-left: 1rem;
  padding-right: 1rem;
}

th {
  text-align: start;
}


table {
  width: 100%;
}

.mat-tab-label {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 33% !important;
  width: auto;
  width: 50%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}