/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.css";

html { 
  height:100%;
}
body { 
  min-height:100%;
}

.matchWinner{
  font-weight: bold;
}

.pavolJayTeam{
  color:rgb(10,151,176);
}

.playersTeam{
  font-weight: normal !important;
}


.kotlikTeam{
    color: rgb(140,186,81);
}

.cursor-pointer{
  cursor: pointer;
}

.cursor-disabled{
  cursor: not-allowed;
}






//icon up and down animation
.iconAnimation{
  cursor: pointer;
}

.iconAnimation:hover {
animation: MoveUpDown 0.2s linear !important;
animation-iteration-count: 1 !important;
position: relative !important;
cursor: pointer;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 4px;
  }
}


.appBackground{
  background-color: rgba($color: aqua, $alpha: 0.1);
}

.pl-15 {
  padding-left: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.row {
  padding-left: 100px;
  padding-right: 100px;
}


.pageTitleFormat{
  text-align: center;
  font-size: 100px;
  padding: 20px;
  padding-bottom: 36px;
  width: 100%;
  border-radius: 25px;
  background-color: #c3c3c3;
}
// todo rename this
.groupStageHeaderFormat{
  text-align: center;
  width: 100%;
  margin-top: 25px;
  background-color: #D8BFD8	;
  padding: 8px;
  margin-bottom: 0px;
}

.trophySize{
  max-height: 75px;
}


table {
  width: 100%;
}

.mat-tab-label {
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: .6;
  min-width: 33% !important;
  width: auto;
  width: 50%;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  position: relative;
}