<div class="grid grid-cols-3 mb-12">
  <div class="flex flex-col justify-center items-center">
    <img src="assets/img/logos/{{match.hometeam}}.jpg" (click)="generalRouterService.goToTeamView(match.hometeam)" alt="" class="iconSize">
    <strong (click)="generalRouterService.goToTeamView(match.hometeam)"> {{match.hometeam}}</strong>
    <span
      [ngClass]="{'badge-pavol-jay': match.playerH === 'Pavol Jay', 'badge-kotlik': match.playerH === 'Kotlik'}">{{match.playerH}}</span>

  </div>
  <div class="flex flex-col justify-center items-center">
    <p class="result"> {{match.scorehome}} : {{match.scoreaway}}</p>
  </div>
  <div class="flex flex-col justify-center items-center">
    <img src="assets/img/logos/{{match.awayteam}}.jpg" (click)="generalRouterService.goToTeamView(match.awayteam)" alt=""
      class="iconSize mr-1">
    <strong (click)="generalRouterService.goToTeamView(match.awayteam)"> {{match.awayteam}}</strong>
    <span
      [ngClass]="{'badge-pavol-jay': match.playerA === 'Pavol Jay', 'badge-kotlik': match.playerA === 'Kotlik'}">{{match.playerA}}</span>
  </div>
</div>

<div class="grid grid-cols-3 gap-1" *ngFor="let event of events">
  <div>
    <ng-container *ngIf="event.teamName === match.hometeam">
      <div class="flex items-center justify-start space-x-1">
        <span>{{event.minute}}'</span>
        <span *ngIf="event.recordType==='G'" class="material-icons">sports_soccer</span>
        <span *ngIf="event.recordType.includes('OG')" class="material-icons " style="color: red;">sports_soccer</span>
        <span *ngIf="event.recordType==='YC'" class="badge badge-warning" matTooltip="Yellow cards">Y</span>
        <span *ngIf="event.recordType==='RC'" class="badge badge-danger" matTooltip="Red cards">R </span>
        <span>{{event.playerName}}</span>
      </div>
    </ng-container>
  </div>
  <div>
    <!-- divider here -->
  </div>
  <div>
    <ng-container *ngIf="event.teamName === match.awayteam">
      <div class="flex items-center justify-start space-x-1">
        <span>{{event.minute}}'</span>
        <span *ngIf="event.recordType==='G'" class="material-icons">sports_soccer</span>
        <span *ngIf="event.recordType.includes('OG')" class="material-icons " style="color: red;">sports_soccer</span>
        <span *ngIf="event.recordType==='YC'" class="badge badge-warning" matTooltip="Yellow cards">Y</span>
        <span *ngIf="event.recordType==='RC'" class="badge badge-danger" matTooltip="Red cards">R </span>
        <span>{{event.playerName}}</span>
      </div>
    </ng-container>
  </div>
</div>